---
layout: default
---

<!-- div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><i class="far fa-kiss-wink-heart"></i> {{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div -->

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Innovation Hub</h1>
            <p class="lead text-muted">I am pleased to present to you a completely rebuilt version of a project I had done many moons ago. While I did co-design this original project, it's main purpose is to highlight skills in using libraries such as Bootstrap and FontAwesome as well as technologies such as Jekyll, GitLab CI, SASS.</p>
        </div>
    </section>

    <section>
        <!-- #TODO: Add custom made slider -->
    </section>


    <!-- #TODO: Update to reflect hub project -->
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">

                {% for product in site.products limit: 6 %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="{{ product.image | prepend: site.baseurl }}" data-src="{{ product.image | prepend: site.baseurl }}" alt="Card image cap">
                        <div class="card-body">
                            <p>{{ product.name }}</p>
                            <p class="card-text">{{ product.description }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="post-link" href="{{ product.url | prepend: site.baseurl }}"><i class="far fa-kiss-wink-heart"></i> </a>
                                </div>
                                <small class="text-muted">{{ product.date | date: "%Y - %b - %-d" }}</small>
                            </div> <!-- button group -->
                        </div> <!-- card body -->
                    </div> <!-- card -->
                </div><!-- column -->
                {% endfor %}






                <div class="col-sm-12">
                   <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
                </div>

            </div> <!-- row -->
        </div> <!-- container -->
    </div><!-- album -->
</main>
