<footer class="text-muted">
    <!-- TODO: #7 - Update to include YB's social media -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="footer-heading">{{ site.title }}</h2>
            </div>
            <div class="col-sm-4">
                <ul class="contact-list">
                    <li>{{ site.title }}</li>
                    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                    <ul class="social-media-list">
                    {% if site.github_username %}
                        <li><a href="https://github.com/{{ site.github_username }}"><i class="fab fa-github"></i> {{ site.github_username }}</a></li>
                    {% endif %}

                    {% if site.gitlab_username %}
                        <li><a href="https://gitlab.com/{{ site.gitlab_username }}"><i class="fab fa-gitlab"></i> {{ site.gitlab_username }}</a></li>
                    {% endif %}

                    {% if site.linkedin_username %}
                        <li><a href="https://linkedin.com/in/{{ site.linkedin_username }}"><i class="fab fa-linkedin"></i> {{ site.linkedin_username }}</a></li>
                    {% endif %}

                    {% if site.twitter_username %}
                        <li><a href="https://twitter.com/{{ site.twitter_username }}"><i class="fab fa-twitter"></i> {{ site.twitter_username }}</a></li>
                    {% endif %}
                    </ul>
            </div>
            <div class="col-sm-5">
                <p>{{ site.description }}</p>
            </div>

        </div> <!-- row -->
        <div class="row">
            <div class="col-sm-12">
                <p class="float-right"><a href="#">Back to top</a></p>
                <p>&copy; Copyright Michael-Youngblood.com, 2015 - {{ 'now' | date: "%Y" }}. All rights reserved.</p>
                <p><a href="http://michael-youngblood.com/">Visit Michael-Youngblood.com</a> to learn more about the developer of this project.</p>
            </div> <!-- column -->
        </div> <!-- row -->
    </div>
</footer>

<!-- TODO: #10 - Add Google Analytics and Tag Manager -->
<!-- TODO: #9 - Add Cookie Notice -->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-84534459-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-84534459-1');
</script>


