<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">{{ site.description }}</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <!-- #TODO: update with social media links -->
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">

                    {% if site.linkedin_username %}
                        <li><a href="https://linkedin.com/in/{{ site.linkedin_username }}"><i class="fab fa-linkedin"></i> {{ site.linkedin_username }}</a></li>
                    {% endif %}


                    {% if site.gitlab_username %}
                        <li><a href="https://gitlab.com/{{ site.gitlab_username }}"><i class="fab fa-gitlab"></i> {{ site.gitlab_username }}</a></li>
                    {% endif %}

                    {% if site.twitter_username %}
                        <li><a href="https://twitter.com/{{ site.twitter_username }}"><i class="fab fa-twitter"></i> {{ site.twitter_username }}</a></li>
                    {% endif %}

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="{{ site.baseurl }}/" class="navbar-brand d-flex align-items-center"><i class="fal fa-alicorn"></i> <strong> &nbsp; {{ site.title }}</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>


<!-- loop through other pages? -->
<!-- div class="trigger">
    {% for my_page in site.pages %}
    {% if my_page.title %}
    <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
    {% endif %}
    {% endfor %}
</div -->
