// Brand Colors
$black-true: #000;
$black: #201e1c;
$blue: #335c85;
$blue-dark: #859db6;
$blue-light: #003366;
$charcoal: #4d4d4d;
$gray: #666;
$gray-dark: #a3a3a3;
$gray-light: #d7d7d7;
$gray-lighter: #e4e4e4;
$green: #3a9d62;
$green-success: #9ac73c;
$purple: #612ba0;
$red: #c91414;
$white: #fbfbfb;
$white-true: #fff;
$yellow: #edb51c;
$yellow-light: #f4d377;
$yellow-dark: #b28815;
$yellow-warning: #efd04d;


// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       $charcoal;
$background-color: $black;
$brand-color:      $purple;


// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;





