/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

#breadcrumbs { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 100%; line-height: 1.231; }

body, button, input, select, textarea { font-family: arial,"lucida grande", verdana, "メイリオ", "ＭＳ Ｐゴシック", sans-serif; color: #222; }
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::selection { text-shadow: none; background-color: highlight; color: highlighttext; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: rgb(115, 99, 87); text-decoration:none; }
a:visited { color: rgb(153, 134, 117); }
a:hover { color: rgb(153, 134, 117); }
a:focus { outline: 0; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid rgb(153, 134, 117); margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    table { display: table-header-group; } /* h5bp.com/t */
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}

/* reflow reset for -webkit-margin-before: 1em */
p { margin: 0; }

html {
    overflow-y: auto;
    background-color: transparent;
    height: 100%;
}

body {
    background: #fff;
    font: normal 100%;
    position: relative;
    height: 100%;
}

body, div, img, p, button, input, select, textarea, a {
    box-sizing: border-box;
}

.image {
    display: block;
}

input {
    cursor: default;
    display: block;
}

input[type=button] {
    background-color: #e5e9e8;
    border: 1px solid #9daca9;
    border-radius: 4px;
    box-shadow: inset 0 1px #fff;
    font: inherit;
    letter-spacing: inherit;
    text-indent: inherit;
    color: inherit;
}

input[type=button]:hover {
    background-color: #eff1f1;
}

input[type=button]:active {
    background-color: #d2d6d6;
    border: 1px solid #9daca9;
    box-shadow: inset 0 1px rgba(0,0,0,0.1);
}

/******* global and homepage styles */

/* GillSans Font Families */
@font-face{
font-family:"Gill Alt One MT";
src:url("http://www.arm.com/Fonts/f446785e-533b-4996-b8c2-382391fa736c.eot");
src:url("http://www.arm.com/Fonts/f446785e-533b-4996-b8c2-382391fa736c.eot?#iefix") format("embedded-opentype"),
url("http://www.arm.com/Fonts/fdfa3dfb-2cc3-47ca-b4cd-8db600777683.woff") format("woff"),
url("http://www.arm.com/Fonts/aba923dc-faf4-499d-8284-328f9bec803b.ttf") format("truetype"),
url("http://www.arm.com/Fonts/33642d2b-1704-4d30-9662-dbdc9483fc4e.svg#33642d2b-1704-4d30-9662-dbdc9483fc4e") format("svg");
font-weight:normal;
font-style:normal;
}
@font-face{
font-family:"Gill Alt One MT Bold";
src:url("http://www.arm.com/Fonts/e9f0482b-32e2-4321-9b52-d82b6b6dfb50.eot");
src:url("http://www.arm.com/Fonts/e9f0482b-32e2-4321-9b52-d82b6b6dfb50.eot?#iefix") format("embedded-opentype"),
url("http://www.arm.com/Fonts/7de4d6a3-c840-497e-888e-8de54201a313.woff") format("woff"),
url("http://www.arm.com/Fonts/d77315a5-a6ce-44cc-a69b-5b00e301edb2.ttf") format("truetype"),
url("http://www.arm.com/Fonts/20f2674b-d880-4b5f-8ada-d8b33b24abf7.svg#20f2674b-d880-4b5f-8ada-d8b33b24abf7") format("svg");
font-weight:normal;
font-style:normal;
}
@font-face{
font-family:"Gill Alt One MT Italic";
src:url("http://www.arm.com/Fonts/476deffb-2ae3-401f-b2da-16969c6d8c55.eot");
src:url("http://www.arm.com/Fonts/476deffb-2ae3-401f-b2da-16969c6d8c55.eot?#iefix") format("embedded-opentype"),
url("http://www.arm.com/Fonts/d10280b7-d575-4afd-b0a2-f91aa28baccb.woff") format("woff"),
url("http://www.arm.com/Fonts/7a336a15-f53b-412d-aa39-19c2800a34cf.ttf") format("truetype"),
url("http://www.arm.com/Fonts/f4818a68-bde8-4b1b-9770-2a4c71041fbd.svg#f4818a68-bde8-4b1b-9770-2a4c71041fbd") format("svg");
font-weight:normal;
font-style:normal;
}

#primaryContainer {
	height: auto;
	min-height: auto;
	margin: 0 auto;
	float: left;
	width: 100%;
	min-width: 320px;
	position: relative;
	top: 0;
	left: 0;
	z-index: 0;
	display: block;
	background-color: rgb(246, 245, 241)
}
#fixed-header {
	height: 120px;
	width: 100%;
	position: fixed;
	z-index: 999
}
#nav-container {
	float: none;
	margin: 30px auto 0;
	width: 90%
}
#logo-tagline {
	float: left;
	width: auto;
	min-width: 320px;
	margin: 0
}
#arm-logo {
	float: left;
	margin-top: 20px;
	padding-right:30px;
	border-right:1px solid white;
}
#innovation-hub-tagline {
	float: left;
	margin-top: 20px;
	padding-left: 30px;
}
#nav {
	float: right;
	width: 27%
}
#nav p {
	font-size: 1em;
	color: rgb(255, 255, 255);
	font-family: arial;
	margin: 39px 0 0;
	float: right
}
#menu-divider {
	float: right;
	height: 23px;
	width: 1px;
	background-color: rgb(255, 255, 255);
	margin: 33.5px 6% 0
}
#magnifier-icon {
	float: right;
	width: auto;
	height: auto;
	margin: 32px 0px 0px 20px;
	clear: none
}
#sign-up {
	float: right;
	width: auto;
	height: auto;
	margin: 32px 0px 0px 20px;
	clear: none
}
#home-icon {
	float: right;
	width: auto;
	height: auto;
	margin: 32px 0px 0px 10px;
	clear: none
}
#nav-menu-icon {
	float: right;
	display: none
}
nav#resp-menu.show {
	display: none
}
#header-bottom-rule {
	height: 1px;
	width: 100%;
	position: absolute;
	bottom: 5px;
	background-color: rgb(255, 255, 255)
}
#parallax {
	display: block;
	height: 620px;
	background: url("/innovation/assets/images/site/parallax-graphic.jpg") no-repeat scroll center 0 rgb(0, 28, 44);
	background-size: cover;
}
#floating-text-over_parallax {
	position: relative;
	top: 45%;
	width: 40%;
	height: auto;
	margin: 0 auto;
	border: 3px dotted rgb(104, 183, 238);
	padding: 1%
}
#floating-text-over_parallax p {
	text-align: center;
	font-size: 2.25em;
	color: rgb(255, 255, 255);
    font-family:"Gill Alt One MT", Arial, Helvetica, sans-serif;
	white-space:nowrap;
}
#arrow-down {
	margin: 7% auto 0;
	width: auto;
	height: auto;
	position: relative;
	bottom: 0;
	-moz-animation: 1s ease 0s normal none infinite bounce;
	-webkit-animation: 1s ease 0s normal none infinite bounce
}
@-moz-keyframes bounce {
0% {
bottom:0;
}
50% {
bottom:5px;
}
100% {
bottom:0;
}
}
@-webkit-keyframes "bounce" {
0% {
bottom:0;
}
50% {
bottom:5px;
}
100% {
bottom:0;
}
}
#page-below-parallax {
	float: left;
	height: auto;
	clear: both;
	width: 100%
}
#home-page-carousel {
	float: none;
	height: auto;
	margin: 0 auto;
	width: 1123.33px
}
div.secondary-carousel-menu {
	height: auto;
	position: relative;
	width: 100%;
	margin-top: 25px;
	display: block;
}
div.secondary-carousel-menu ul {
    list-style: none;
    margin: 0;
    padding: 0; 
}
li.technology-menu, li.partner-menu {
	padding: 20px;
	font-weight: 700;
	font-size: 1.2em;
	color: rgb(57, 55, 55);
	font-family: arial;
	cursor:pointer;  
}
li.technology-menu {
    float: left;
	padding-left:0;
}
li.partner-menu {
    float: right;
	padding-right:0;
}
ul.secondary-dropdown {
	position: absolute;
	z-index: 295;
	background-color: rgb(246, 245, 241);
	width: 100%;
	height: auto;
	top: 96%;
	border-top: 1px solid #d1c8bf;
	border-bottom: 1px solid #d1c8bf;
	display: block;
	list-style: none;
	margin: 10px;
	padding-left: 0
}

ul.secondary-dropdown li {
	display: inline-block;
	font-size: 1em;
	font-weight:normal;
	font-family: arial;
	color: rgb(153, 134, 117);
	padding: 10px;
}
ul.arm-partner-inside {
	text-align: right;
    right:0; 
}
ul.arm-technology-inside.caret-down:before, ul.arm-partner-inside.caret-down:before {
	background: url("/innovation/assets/images/site/caret-down.png") no-repeat top center transparent;
	z-index: 296;
	background-color: rgb(246, 245, 241);
	width: 100px;
	height: 20px;
	position: absolute;
	top: -10px;
}
ul.arm-technology-inside.caret-down:before {
	left:40px;
}
ul.arm-partner-inside.caret-down:before {
	right:40px;
}
.carousel-product {
	overflow: auto
}
.current-product {
	position: relative;
	height: auto;
	border-left: 1px solid #d1c8bf;
	border-right: 1px solid #d1c8bf;
	border-top: 1px solid #d1c8bf
}
.current-product img {
	width: auto;
	max-width: 100%;
	height: auto;
	margin: 0 auto
}
.current-product p {
	font-size: 3em;
	text-align: center;
	color: rgb(255, 255, 255);
    font-family:"Gill Alt One MT", Arial, Helvetica, sans-serif;
	position: absolute;
	top: 40%;
	width: 100%;
	margin: 0 auto
}
.current-product .find-out-more-btn-cnt {
	width: 562px;
	background-image: url("/innovation/assets/images/site/dotted-btn-bg2.png");
	background-attachment: scroll;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	left: 25%;
	height: 110px
}
.current-product button.find-out-more {
	height: 55px;
	width: 238px;
	margin: 5% auto;
	border: 1px solid rgb(199, 178, 153);
	-webkit-background-size: auto;
	background-size: auto;
	background-color: rgba(253, 249, 233, 0.25);
	display: block;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)"
}
.current-product button.find-out-more span {
	font-size: 1em;
	width: 100%;
	height: 100%;
	color: rgb(253, 249, 233);
	text-shadow: 1px 1px 3px rgba(57, 55, 55, 1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}
.current-product button.find-out-more:hover {
	background-color: rgba(253, 249, 233, 0.60);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	border-color: #d1c8bf
}
.current-product button.find-out-more:hover span {
	color: rgb(57, 55, 55)
}
#carousel-controller {
	position: relative;
	width: 1123.33px;
	margin: 0 auto;
	height: 100%;
	display: block;
	z-index: 300
}
.carousel-controller-product-info-cnt {
	float: left;
	width: 25%;
	border: 1px solid #d1c8bf;
	height: auto;
	position: relative
}
.carousel-controller-product-info-cnt:hover {
	background-color: rgb(57, 55, 55);
	position: relative
}
.carousel-controller-product-info-cnt p {
	color: rgb(153, 134, 117);
	font-family: Arial, Helvetica, sans-serif;
	padding: 2%;
	text-align: center;
	float: none;
	clear: none;
	margin: 0
}
.carousel-controller-product-info-cnt:hover p {
	color: #fff
}
.carousel-controller-product-info-cnt p.product-name {
	font-size: 1.125em
}
.carousel-controller-product-info-cnt p.product-tagline {
	font-size: 0.875em
}
.carousel-controller-product-info-cnt.selected, .cycle-pager-active {
	background-color: rgb(57, 55, 55);
	position: relative
}
.carousel-controller-product-info-cnt.selected p, .cycle-pager-active p {
	color: #fff
}
.carousel-controller-product-info-cnt.selected p.product-name::before, 
.carousel-controller-product-info-cnt:hover p.product-name::before,
.cycle-pager-active p.product-name::before {
	content: url("/innovation/assets/images/site/carousel-pointer.png");
	position: absolute;
	top: -17px;
	margin: 0 auto;
	width: 20px;
	left: 45%
}
#left-arrow-container, #right-arrow-container {
	display: none
}
#product-grid-container {
	float: left;
	width: 100%;
	background-color: #fcfcfb;
	margin-top: 50px
}
#product-grid {
	display: block;
	width: 1123.33px;
	height: auto;
	margin: 0 auto;
	float: none
}
#grid-heading-container {
	position: relative;
	z-index: 700;
	width: 100%;
	margin-top: 25px
}
h1 {
	float: left;
	font-size: 3em;
	color: rgb(153, 134, 117);
    font-family:"Gill Alt One MT", Arial, Helvetica, sans-serif;
	clear: none;
	margin: 0
}
#filter {
	width: 150px;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: rgb(57, 55, 55);
	padding: 7px
}
#filter p {
	float: left;
	font-size: 1.125em;
	text-align: left;
	color: rgb(255, 255, 255);
	margin: 0;
	padding: 1%
}
#filter-menu-icon {
	float: right;
	width: auto
}
nav#filter-menu.show {
	display: block;
	width: 150px;
	position: absolute;
	right: 0;
	top: 61px
}
nav#filter-menu ul#filter-menu-list li {
	line-height: 35px;
	width: 100%;
	color: rgb(153, 134, 117);
	font-size: 1em;
	padding: 1% 1% 1% 0;
	height: 100%
}
nav#filter-menu ul#filter-menu-list li a {
	padding: 0.5% 4.5%;
	background-color: rgb(246, 245, 241);
	border: 1px solid #d1c8bf;
	display: block;
	height: 100%;
	width: 100%
}
nav#filter-menu ul#filter-menu-list li a:hover {
	background-color: rgb(57, 55, 55);
	color: #fff
}
#grid-product-container {
	float: left;
	margin-top: 40px;
	width: 100%
}
.grid-product {
	float: left;
	height: 100%;
	margin: 0px 1.6% 2%;
	clear: none;
	width: 29%;
	position: relative;
	min-height: 440px
}
.grid-product .hoverstate {
	height: 100%;
	width: 100%;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	padding: 5%;
	border: 1px solid #d1c8bf;
	transition: all 200ms ease-in 0s;
	position: absolute;
	z-index: 500;
	background-color: rgb(253, 249, 233);
	-webkit-background-size: auto;
	background-size: auto
}
.grid-product:hover .hoverstate {
	opacity: .9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"
}
.hoverstate p.product-name {
	font-size: 1.3em;
	font-weight: 600;
	margin: 10px
}
.hoverstate p {
	font-size: .9em;
	margin: 10px
}
.hoverstate a {
	display: inline-block;
	width: auto;
	height: auto;
	text-deoration: none;
	text-transform: none;
	margin: 0;
	padding: 0;
	background: none;
	color: inherit;
	border: none
}
.hoverstate a:hover {
	border-bottom: 1px dotted #222
}
.hoverstate a.linkBtn {
	text-transform: uppercase;
	display: inline-block;
	width: auto;
	height: auto;
	margin: 10px;
	padding: 10px;
	background: url("/innovation/assets/images/site/caret-right.png") no-repeat 90% 50% transparent;
	background-size: 7%;
	padding-right: 50px;
	background-color: rgb(57, 55, 55);
	opacity: .8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	color: #fff;
	border: 1px solid #d1c8bf
}
.hoverstate a.linkBtn:hover {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}
.product-grid-image {
	width: auto;
	max-width: 97%;
	height: auto;
	margin: 0 auto;
	margin-top: 5px;
	border: 1px solid #e7e4e1;
}
.product-title {
	font-size: 1.5em;
	color: rgb(57, 55, 55);
	font-family: arial;
	width: 100%;
	text-align: center;
	padding: 2% 1%
}
.product-description {
	font-size: 0.875em;
	color: rgb(57, 55, 55);
	font-family: arial;
	width: 100%;
	padding: 10px
}
#pagination-container {
	float: none;
	height: auto;
	margin: 10px auto 20px auto;
	clear: both;
	width: 1123.33px
}

.pagination-button, .pagi-navigation-page, .pagi-navigation-next, .pagi-navigation-previous {
	float: left;
	clear: none;
	margin: 5% auto;
	border: 1px solid #e5e2de;
	-webkit-background-size: auto;
	background-size: auto;
	text-align: center
}
a.pagination-button, a.pagi-navigation-page, a.pagi-navigation-next, a.pagi-navigation-previous {
	font-size: 1em;
	color: rgb(199, 178, 153);
	margin: 0 1%;
	padding: .5% 1.5%
}
a.pagination-button:hover, a.pagi-navigation-page:hover {
	color: #fff
}
a.pagination-button.active, a.pagi-navigation-disabled {
	color: #fff;
	background-color: rgb(57, 55, 55)
}

a.pagination-button.left, a.pagi-navigation-previous {
	background: url("/innovation/assets/images/site/carousel-left-img.png") no-repeat 50% 50% transparent;
	background-size: 40%;
	opacity: .4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	border: none
}
a.pagination-button.right, a.pagi-navigation-next {
	background: url("/innovation/assets/images/site/carousel-right-img.png") no-repeat 50% 50% transparent;
	background-size: 40%;
	opacity: .4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	border: none
}

a.pagination-button.left:hover, a.pagination-button.right:hover, a.pagi-navigation-next:hover, a.pagi-navigation-previous:hover   {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}
.pagination-button:hover, .pagi-navigation-page:hover {
	background-color: rgb(57, 55, 55)
}

#footer {
	float: left;
	width: 100%;
	background-color: rgb(57, 56, 56);
	clear: both;
	display: block
}
#footer-container {
	float: none;
	height: auto;
	margin: 20px auto;
	clear: none;
	width: 93% !important
}
#footer-social-media-icons {
	float: right;
	height: auto;
	margin-top: 5px;
	clear: none
}
.icons-float {
	margin-left: 10px;
	clear: none;
	float: right;
	width: 32px
}
#footer-logo-tagline {
	float: left;
	height: auto;
	clear: none;
	width: auto;
	position: relative
}
#arm-logo-footer {
	float: left;
	width: auto;
	height: auto
}
#arm-tagline {
	margin-left: 15px;
	clear: none;
	width: auto;
	height: auto;
	position: absolute;
	bottom: -6%;
	display: inline-block
}
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
#arm-tagline { /* Opera 11+ only hack */
	left:128px;
}
}
#contactus {
	font-size:15px;
	position:relative;
	float:right;
	padding:10px;
	bottom:-10px;
	display:inline;
}
.hide {
    display: none;
}

#copyright-links {
	background-color:rgb(57,56,56);
	color:#fff;
	display:block;
	clear:both;
}
#copyright-links ul {
	list-style: none;
	margin:0;
	padding:0 2%;
}
#copyright-links ul li {
	display:inline-block;
	margin:5px 0;
	font-size:75%;
    color: rgb(153, 134, 117);
}
#copyright-links li:last-child {
	float:right;
}
#copyright-links li a {
	border: 0 none;
    color: rgb(153, 134, 117);
    text-decoration: none;
	padding:3px;
}
#copyright-links li a:hover {
	color: #fcfcfb;
}
@media only screen and (max-width: 2000px) {
#nav-container {
	width: 87.5%
}
}

@media only screen and (max-width: 1600px) {
#floating-text-over_parallax {
	width: 50%
}
}

@media only screen and (max-width: 1300px) {
#nav {
	width: 251.5px
}
}

@media only screen and (max-width: 1280px) {
#floating-text-over_parallax {
	width: 60%
}
#parallax {
	height: 520px
}
#home-page-carousel {
	width: 88.386875%
}
div.carousel-product {
    width:100%;
}
.current-product .find-out-more-btn-cnt {
	left: 20%;
	right: 20%;
	margin: 0 auto
}
.current-product button.find-out-more {
	height: 55px;
	width: 238px;
	margin: 5% auto
}
#carousel-controller {
	width: 88.386875%
}

.carousel-controller-product-info-cnt p.product-name {
	font-size: 1.1em;
	padding: 1%
}
.carousel-controller-product-info-cnt p.product-tagline {
	font-size: 0.8em;
	padding: 1%
}
#product-grid {
	width: 88.387022%
}
#pagination-container {
	width: 88.387022%
}
}

@media only screen and (max-width: 1024px) {
#logo-tagline {
	width: 68%
}
#floating-text-over_parallax {
	width: 60%
}
#parallax {
	height: 420px
}
#floating-text-over_parallax p {
	font-size: 200%
}
li.technology-menu, li.partner-menu {
	font-size: 1em;
	padding:10px 0;
}
ul.secondary-dropdown li {
	font-size: 1em;
}
ul.arm-technology-inside.caret-down:before, ul.arm-partner-inside.caret-down:before {
	width:50px;
}
.current-product p {
	top: 35%
}
.current-product .find-out-more-btn-cnt {
	width: 300px;
	height: 87px;
	top: 55%
}
.carousel-controller-product-info-cnt p.product-name {
	font-size: 1em;
	padding: 2%
}
.carousel-controller-product-info-cnt p.product-tagline {
	font-size: 0.6em;
	padding: 2%
}
.carousel-controller-product-info-cnt.selected p.product-name::before, 
.carousel-controller-product-info-cnt:hover p.product-name::before,
.cycle-pager-active p.product-name::before {
	top:-15px !important;
}
/*.grid-product::before {
	content:url(/innovation/assets/images/site/go-to-page-icon.png);
	position:absolute;
	top:10%;
	left:25%;
	opacity:.7;
}*/
#contactus {
	clear:both;
	float:none;
	display:block;
	margin: 0 auto;
	text-align:center;
}
}

@media only screen and (max-width: 910px) {
#arm-logo {
	padding-right:3%;
}
#innovation-hub-tagline {
	padding-left: 3%;
}
#nav {
	width: 29%
}
#nav-container {
	width: 94%
}
#home-icon {
	margin: 32px 0px 0px
}
#sign-up {
	margin: 32px 0px 0px 10px
}
#magnifier-icon {
	margin: 32px 0px 0px 10px
}
#parallax {
	height: 385px;
}
#floating-text-over_parallax {
	top: 48%;
	width: 70%
}
#arm-partner-inside .caret-down, #arm-technology-inside .caret-down {
	width: 20%;
	background-size: 10%;
	background-position: 50% 50%
}
#arm-partner-inside .caret-down {
	width: 10%;
	background-size: 20%
}
#filter {
	width: auto;
	height: auto;
	padding: 1%
}
#filter p {
	display: none
}
.grid-product {
	width: 46%;
	margin: 0px 1.8% 2%
}
}

@media only screen and (max-width: 800px) {
.current-product p {
	display: none
}
.current-product .find-out-more-btn-cnt {
	top: 30%
}
.carousel-controller-product-info-cnt {
	width: 40%
}
.carousel-controller-product-info-cnt p.product-name, .carousel-controller-product-info-cnt p.product-tagline {
	padding: 1%
}

#left-arrow-container, #right-arrow-container {
	display: block;
	clear: none;
	width: 10%;
	padding: 0.8%;
	border: 1px solid #d1c8bf
}
#left-arrow-container {
	float: left;
	border-right: none
}
#right-arrow-container {
	float: right;
	border-left: none
}
#left-arrow-container img, #right-arrow-container img {
	width: 17px;
	margin: 0 auto;
	text-align: center;
	opacity: .3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"
}
#left-arrow-container:hover img, #right-arrow-container:hover img {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}
h1 {
	font-size: 2.5em
}
nav#filter-menu.show {
	top: 50px
}
#pagination-container {
	margin-top: 20px
}
#footer-container {
	position: relative;
	width: 94%
}
#footer-social-media-icons {
	width: 530px;
	float: none;
	margin: 0 auto;
	margin-bottom: 15px
}
.icons-float {
	width: 45px;
	height: 45px;
	margin-right: 3%;
	margin-left: 3%;
	float: left;
}
#contactus {
	clear:none;
	padding-right:0;
	float:right;
}
a.pagination-button, a.pagi-navigation-page, a.pagi-navigation-next, a.pagi-navigation-previous {
	margin: 0 1%;
	padding: 1% 2%
}
}

@media only screen and (max-width: 768px) {
#fixed-header {
	height: 70px
}
#nav-container {
	margin: 20px auto 0
}
#logo-tagline {
	width: 389px;
	min-width: 0
}
#arm-logo {
	margin: 0;
	width: 115px
}
#innovation-hub-tagline {
	margin-top: 0;
	margin-bottom: 0;
	width: 258.679248338125px
}
#nav {
	width: 13.8%
}
#nav p {
	display: none
}
#menu-divider {
	display: none
}
#magnifier-icon {
	display: none
}
#sign-up {
	display: none
}
#home-icon {
	margin: 0
}
nav#resp-menu.show {
	display: block;
	width: 100%;
	background-color: #0084a9;
	float: left;
	clear: both;
	position: relative;
	left: 0;
	top: 20px
}
nav#resp-menu ul#resp-menu-list li {
	color: rgb(255, 255, 255);
	line-height: 40px;
	margin-left: 10px;
	width: 100%;
	text-align: center;
	font-weight: bold
}
#header-bottom-rule {
	bottom: 2px
}
#floating-text-over_parallax {
	top: 40%;
	width: 85%;
	border:none;
}
ul.secondary-dropdown li {
	font-size: 0.9em
}
#product-grid-container {
	margin-top: 30px
}
#grid-heading-container {
	margin-top: 10px
}
h1 {
	font-size: 2.3em
}
#grid-product-container {
	margin-top: 20px
}
.grid-product {
	min-height: 430px
}
#pagination-container {
	margin-top: 20px
}
#footer-logo-tagline {
	width: 100%;
	float: left;
	clear: both
}
#footer-social-media-icons {
	width: 430px;
}
#contactus {
	clear:both;
	float:none;
	display:block;
	padding-right:10px;
	width:200px;
}
}

@media only screen and (max-width: 625px) {
#parallax {
	height: 320px;
}
#floating-text-over_parallax p {
	font-size: 150%
}
li.secondary-arm-technology-menu, li.secondary-arm-partner-menu {
	font-size: 1em
}
ul.secondary-dropdown li {
	font-size: 0.8em
}
#filter {
	padding: 2%
}
#product-grid-container {
	margin-top: 30px
}
#grid-heading-container {
	margin-top: 10px
}
.grid-product {
	width: 98%;
	margin: 0px 1% 3%;
	min-height: 0
}
.product-title, .product-description {
	width: 85%;
	margin: 0 auto
}
#pagination-container {
	margin-top: 20px
}
#arm-tagline {
	margin-left: 2%;
}
#copyright-links {
	padding:5px 0;
}
}

@media only screen and (max-width: 550px) {
#innovation-hub-tagline {
	width: 258.68px
}
#nav {
	width: 33.3px
}
#parallax {
	height: 250px;
}
#carousel-controller .carousel-controller-product-info-cnt p {
	color: rgb(57, 55, 55)
}
.carousel-controller-product-info-cnt p.product-name {
	font-size: 1.2em
}
.carousel-controller-product-info-cnt p.product-tagline {
	font-size: 0.6em
}
#carousel-controller .carousel-controller-product-info-cnt:hover {
	background-color: rgb(57, 56, 56)
}
#carousel-controller .carousel-controller-product-info-cnt:hover p {
	color: #fff
}
.carousel-controller-product-info-cnt, .carousel-controller-product-info-cnt.selected {
	width: 70%;
	background-color: transparent;
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-left: none;
	border-right: none;
	min-height: 52px
}
.carousel-controller-product-info-cnt.selected p.product-name::before, 
.cycle-pager-active p.product-name::before {
	content: url("/innovation/assets/images/site/spacer.gif");
	position: absolute
}
#product-info-2 {
	display: none
}
#left-arrow-container, #right-arrow-container {
	width: 15%;
	min-height: 52px;
	padding: 7px 1% 1% 1%
}
#left-arrow-container img, #right-arrow-container img {
	width: 20px
}
#left-arrow-container {
	border-right: 1px solid #d1c8bf
}
#right-arrow-container {
	border-left: 1px solid #d1c8bf
}
a.pagination-button, a.pagi-navigation-page, a.pagi-navigation-next, a.pagi-navigation-previous {
	margin: 0 2%;
	padding: 2% 3%
}
#footer-logo-tagline {
	margin-top: 5px
}
#arm-logo-footer {
	width: 25%
}
#arm-tagline {
	width: 60%
}
}

@media only screen and (max-width: 500px) {
#fixed-header {
	background-color: #0084A9;
	min-width: 320px
}
#nav-container {
	width: 95%;
	position: relative;
	margin-top:5%;
}
#logo-tagline {
	width: 85.295674%;
	position: absolute;
	bottom:0;
}
#arm-logo {
	width: 27%;
}
#innovation-hub-tagline {
	width: 63.920124%;
	left: 31.16%;
}
nav#resp-menu.show {
	background-color: #128cab;
	top: 35%
}
#parallax {
	display: none
}
#page-below-parallax {
	margin-top: 85px
}
div.secondary-carousel-menu {
	display: none
}
.current-product .find-out-more-btn-cnt {
	top: 20%;
	left: 7%;
	right: 7%
}
#pagination-container {
	clear: both;
	margin-top: 20px
}
.icons-float {
	margin-right: 2%;
	margin-left: 2%;
}
}

@media only screen and (max-width: 480px) {
h1 {
	font-size: 2.2em
}
#grid-product-container {
	margin-top: 20px
}
.grid-product {
	margin-bottom: 15px
}
#footer-social-media-icons {
	width: 330px;
}
.icons-float {
	width: 40px;
	height: 40px;
}
#copyright-links {
	float:left;
	width:100%;
	padding-top:0;
}
#copyright-links li:last-child {
	float:left;
	clear:both;
}
#copyright-links ul li {
	float:left;
	margin:3px;
	font-size:10px;
}
}

@media only screen and (max-width: 400px) {
.carousel-product {
	overflow: hidden
}
.current-product .find-out-more-btn-cnt {
	background-image: none;
	left: 0;
	right: 0;
	width: 100%
}
#footer-container {
	margin-bottom:0;
}
#footer-social-media-icons {
	width: 100%
}
.icons-float {
	width: 30px;
	height: 30px;
	margin-right: 3%;
	margin-left: 3%;
}
#footer-logo-tagline {
	margin-bottom: 10px
}
#arm-logo-footer {
	width: 30%
}
#arm-tagline {
	width: 65%
}
}
@media only screen and (max-width: 320px) {
.current-product .find-out-more-btn-cnt {
	left: 0;
	top: 12%
}
}
