@charset "utf-8";
/* CSS Document */

/********* home page */

body {
	min-width:1194px;
}
#primaryContainer {
	min-width:1194px;
}
#fixed-header.scrolled {
	background-color: #0084a9;
}
#parallax {
	-ms-interpolation-mode:bicubic;
	height:620px !important;
	display:block !important;
}
.carousel-control img {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.carousel-control:hover img {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}
.current-product button.find-out-more {
	background-color: rgb(253, 249, 233); 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
}
.current-product button.find-out-more span {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	color: #000; 		
}
#grid-product-container {
	min-width:1123px;
}
.grid-product {
	width:29% !important;
}
.hoverstate a.linkBtn {
	background-image: none; 
}
.pagination-button, .pagi-navigation-page, .pagi-navigation-next, .pagi-navigation-previous {
	width: 5%;
}
#footer-logo-tagline {
	width:520px !important;
	float:left !important;
	clear:left !important;
}
#xcorp-logo-footer {
	width:auto !important;
}
#xcorp-tagline {
	width:auto !important;
}
#footer-social-media-icons {
	width:400px !important;
	float:right !important;
	clear:right !important;
	margin:5px auto !important;
}
.icons-float {
	width:32px !important;
	height: 32px !important;
	margin: 0 !important;
	margin-left:10px !important;
	float:right !important;
}
#copyright-links li.last {
	float:right !important;
}
/********* product page */

#containingBlock {
	position:relative;
	z-index: 100;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	display:block;
	max-width:100%;
}
.videoWrapper {
	position:relative;
	z-index:10;
}
.videoWrapper object,
.videoWrapper embed {
	position: absolute;
	z-index:-1;
}







