/* CSS for product pages */

#fixed-header {
	background-color: #128cab !important;
}
a {
	background-color:transparent
}
a:active, a:hover {
	outline:0
}
img {
	vertical-align:middle
}
#primaryContainer {
	background-color: #fcfcfb;
}


#breadcrumbs { display: none; }

/*********** responsive video code */

#containingBlock {
  width:100%;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.videoWrapper object,
.videoWrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/************ begin carousel elements */

#myCarousel {
	display:block;
    height: auto;
    width: 100%;
	position: relative;
	margin-top: 115px;
}
.carousel-inner {
	position:relative;
	width:100%;
	overflow:hidden;
}
.carousel-inner>.item {
	position:relative;
	display:none;
	-webkit-transition:.6s ease-in-out left;
	-o-transition:.6s ease-in-out left;
	transition:.6s ease-in-out left
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	display:block;
	min-width:100%;
}
.sr-only {
	position:absolute;
	width:1px;
	height:1px;
	padding:0;
	margin:-1px;
	overflow:hidden;
	clip:rect(0,0,0,0);
	border:0
}
.sr-only-focusable:active, .sr-only-focusable:focus {
	position:static;
	width:auto;
	height:auto;
	margin:0;
	overflow:visible;
	clip:auto
}
.carousel-caption {
  z-index: 10;
}
#controller-box {
	width: 60%;
	min-width: 320px;
	max-width: 500px;
	margin: 0 auto;
	padding: 10px;
}
.carousel-indicators {
	bottom: 0;
	left: auto;
	margin: 0 auto;
	position:relative;
	text-align:center;
	width: 60%;
	list-style: none outside none;
	padding: 0;
}
@media all and (transform-3d), (-webkit-transform-3d) {
.carousel-inner>.item {
	-webkit-transition:-webkit-transform .6s ease-in-out;
	-o-transition:-o-transform .6s ease-in-out;
	transition:transform .6s ease-in-out;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-webkit-perspective:1000;
	perspective:1000
}
.carousel-inner>.item.next, .carousel-inner>.item.active.right {
	left:0;
	-webkit-transform:translate3d(100%, 0, 0);
	transform:translate3d(100%, 0, 0)
}
.carousel-inner>.item.prev, .carousel-inner>.item.active.left {
	left:0;
	-webkit-transform:translate3d(-100%, 0, 0);
	transform:translate3d(-100%, 0, 0)
}
.carousel-inner>.item.next.left, .carousel-inner>.item.prev.right, .carousel-inner>.item.active {
	left:0;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0)
}
}
.carousel-inner>.active, .carousel-inner>.next, .carousel-inner>.prev {
	display:block
}
.carousel-inner>.active {
	left:0
}
.carousel-inner>.next, .carousel-inner>.prev {
	position:absolute;
	top:0;
	width:100%
}
.carousel-inner>.next {
	left:100%
}
.carousel-inner>.prev {
	left:-100%
}
.carousel-inner>.next.left, .carousel-inner>.prev.right {
	left:0
}
.carousel-inner>.active.left {
	left:-100%
}
.carousel-inner>.active.right {
	left:100%
}
.carousel-control {
	position:absolute;
	top:0;
	left:0;
	width:15%;
	opacity:.5;
}
.carousel-control.right {
	right:0;
	left:auto;
}
.carousel-control:hover, .carousel-control:focus {
	color:#fff;
	text-decoration:none;
	outline:0;
	opacity:.9;
}
.carousel-control .icon-prev, .carousel-control .icon-next {
	width:20px;
	height:20px;
	margin-top:-10px;
	font-family:serif;
}
.carousel-indicators li {
	display:inline-block;
	width:10px;
	height:10px;
	margin:1px;
	text-indent:-999px;
	cursor:pointer;
	background-color:transparent;
	border:1px solid #d1c8bf;
	border-radius:10px;
}
.carousel-indicators .active {
	width:12px;
	height:12px;
	margin:0;
	background-color: rgb(57, 55, 55);
	border-color: transparent;
}
.carousel-caption {
	position:absolute;
	right:15%;
	bottom:20px;
	left:15%;
	z-index:10;
	padding-top:20px;
	padding-bottom:20px;
	color:#fff;
	text-align:center;
	text-shadow:0 1px 2px rgba(0,0,0,.6);
}
#carousel-left-img, #carousel-right-img {
    width: auto;
    max-width: 100%;
    height: auto;
    position: relative;
    margin-left: 10px;
	margin-right: 10px;
	margin-top: 75%;
}
#carousel-left-img {
	float: left;
}
#carousel-right-img {
	float:right; 
}

/*********** begin product page elements */

#main-body-container {
    width: 1123.33px;
    margin: 0 auto;
    clear: both;
    display: block;
}
#main-body-container a {
	border-bottom:thin dotted;
}
#main-body-container a:hover {
	color: rgb(115, 98, 97);
}
h1 {
    font-family:"Gill Alt One MT", Arial, Helvetica, sans-serif;	
	float:none;
	font-size:3em;
}
#posDiv {
	position:relative;
}
#heading-left {
	width: 90%;
	overflow: auto;
	position:relative;
	left:0;
	bottom:0;
}
h2 {
    font-family:"Gill Alt One MT", Arial, Helvetica, sans-serif;
	font-size: 2em;
	font-weight: normal;
	margin: 5px auto;
    color: rgb(115, 99, 87);
	float: left;
}
#share-icon-right {
	width:20px;
	height: 20px;
	position: absolute;
	right:8px;
	bottom: 2px;
}
#share-this-container {
    height: auto;
    background-color: rgb(57, 55, 55);
	border-radius: 5px;
    z-index: 900;
    display: block;
	position: absolute;
	bottom: -5px;
	right: 0;
	width: 210px;
}
.share-this-icons {
    float: left;
    width: 20px;
    height: auto;
	margin: 7px;
	clear: none;
}
hr {
	clear: both;
}
#left-side {
    float: left;
    height: auto;
    clear: both;
    width: 70%;
}
.date {
    font-size: 1.125em;
    color: rgb(153, 134, 117);
    font-family: arial;
    clear: both;
}
p {
    font-size: 1.2em;
	line-height:normal;
	margin: 10px auto;
}
.source {
    font-size: 0.75em;
    color: rgb(115, 99, 87);
    font-style: italic;
}
#right-side {
    float: right;
    width: 28%;
    border: 1px solid rgb(234, 222, 209);
	margin-top: 50px;
	background-color: #fff;
}
.right-box {
    float: left;
    height: auto;
    margin: 0px;
    width: 100%;
    padding: 20px;
}
.section-title {
    font-size: 1.1em;
    color: rgb(115, 99, 87);
    margin: 10px 0;
}
.subtext {
    font-size: 1em;
	margin: 10px auto;
	clear:both;
}
.logos {
    width: auto;
    max-width: 100%;
    height: auto;
	float: left;
	clear: both;
}
.divider {
    margin: 0px auto;
    clear: both;
    width: 80%;
    border: 1px solid rgb(234, 222, 209);
}
br.space {
	padding:5px;
	display:block;
	margin:10px;
	float:left;
	clear:both;
}
@media only screen and (max-width: 2500px) {
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	display:block;
	max-width:100%;
}
}

}
@media only screen and (max-width: 2000px) {
#share-this-container {
	width: 192.625px;
}
}
@media only screen and (max-width: 1300px) {
#main-body-container {
	width: 88.387%;
}
#left-side {
	width: 100%;
}
.source {
	margin-top: 11px;
	margin-left: 0px;
	clear: both;
}
#right-side {
	width: 100%;
	margin: 10px auto 20px;
}
.right-box {
	width: 29%;
}
.divider {
	width: 1px;
	height: 180px;
	clear: none;
	margin: 20px 2.5%;
	float: left;
}
}

@media only screen and (max-width: 850px) {
.right-box {
	width: 90%;
	text-align:center;
	float:none;
	margin: 0 auto;
}
.logos {
	float:none;
	text-align:center;
	margin: 0 auto;
}
.divider {
	margin: 10px 10%;
	height: 1px;
	min-height: 0;
	width: 80%;
}
}
@media screen and (max-width:768px) {
.carousel-caption {
	right:20%;
	left:20%;
	padding-bottom:30px
}
#myCarousel {
	margin-top: 70px;
}
#carousel-left-img, #carousel-right-img {
	margin-top: 60%;	
	width: 50%;
	margin-left: 10px;
	margin-right: 10px;
}
h1 {
	font-size:2em;
}
h2 {
	font-size:1.7em;
}
p {
    font-size: 1em;
	line-height:1.5em;
}

}
@media only screen and (max-width: 400px) {
.carousel .item {
	height: 100%;
}
h1 {
	font-size:1.5em;
}
h2 {
	font-size:1.3em;
}
p {
	font-size: .8em;
	line-height:1.3em;
}
}

