<!DOCTYPE html>
<html>

{% include head.html %}

<body lang="en">

    {% include header.html %}

    <main role="main">
        {{ content }}
    </main>

    {% include footer.html %}

</body>
</html>
